html,
body {
  height: 100%;
  overflow-x: hidden; }

body {
  min-height: 100%; }

.form-control:focus,
textarea:focus,
input:focus,
input[type]:focus,
.uneditable-input:focus {
  border-color: rgba(229, 103, 23, 0.8);
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
  outline: 0 none; }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: rgba(229, 103, 23, 0.8); }

.custom-checkbox .custom-control-input[disabled]:checked ~ .custom-control-label::before {
  background-color: rgba(229, 103, 23, 0.8);
  opacity: 0.8; }
