{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-param-reassign": "off",
    "arrow-parens": ["error", "always"],
    "linebreak-style": "off",
    "no-underscore-dangle": "off",
    "no-prototype-builtins": "off"
  },
  "globals": {
    "notificationMessage": true,
    "responseMessage": true,
    "mailMessage": true
  }
}
