$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$grays: () !default;
$grays: map-merge(
  (
    '100': $gray-100,
    '200': $gray-200,
    '300': $gray-300,
    '400': $gray-400,
    '500': $gray-500,
    '600': $gray-600,
    '700': $gray-700,
    '800': $gray-800,
    '900': $gray-900
  ),
  $grays
);

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$colors: (
  'primary': $blue,
  'secondary': $gray-600,
  'success': $green,
  'info': $cyan,
  'warning': $yellow,
  'danger': $red,
  'light': $gray-100,
  'dark': $gray-800
);

$hr-rules: 25 50 75 100;

hr {
  @each $rule in $hr-rules {
    &[class*='hr-#{$rule}'] {
      width: percentage($rule/100);
      border: none;
      height: 10px;
    }
  }

  @each $name, $color in $colors {
    &[class*='hr-spiky-#{$name}'] {
      background: linear-gradient(-135deg, #fff 5px, transparent 0) 0 5px,
        linear-gradient(135deg, #fff 5px, $color 0) 0 5px;
      background: {
        color: #fff;
        position: left bottom;
        repeat: repeat-x;
        size: 10px 10px;
      }
    }

    &[class*='hr-shadow-#{$name}'] {
      height: 10px;
      border: 0;
      box-shadow: 0 10px 10px -10px $color inset;
    }

    &[class*='hr-rounded-#{$name}'] {
      border: 0;
      height: 30px;
      border: {
        style: solid;
        color: $color;
        width: 1px 0 0 0;
        radius: 20px;
      }
      margin-bottom: -15px;

      &:before {
        display: block;
        content: '';
        height: 30px;
        margin-top: -31px;
        border: {
          style: solid;
          color: $color;
          width: 0 0 1px 0;
          radius: 20px;
        }
      }
    }
  }
}
